body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

html {
	background-color: black
}

header{
	background: #7E2BEC;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

/* header styles*/
/* so easy */

header h1{
	color: white;
	font-size: 50px;
}

h2 {
    font-size: 20px;
    color: #7E2BEC;
    padding-top: 40px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}



main{
	max-width: 800px;
 	margin: 0 auto;
 	padding: 20px;
}

main img{
	background: #7E2BEC;
	max-width: 100%;
}



li{
	font-family: serif;
}

a:hover{
	color: #7E2BEC; 
}

footer{
	background-color:  #7E2BEC; 
	color:  white;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	color: black;
}

p.caption{
	color: white;
	font-style: bold;
	text-align: center;
	font-family: serif;
	font-size: 25px;
}

p a{
	color: white;
}

p a:hover{
	color:#611BBF7E2BEC;
}

h5{
	background: #7E2BEC;
	padding-bottom: 20px;
	color: white;
}

h6{
	text-align: center;
	color: #7E2BEC;
	padding-top: 20px;
}

h4{
	color: #7E2BEC;
	text-align: center;
}

h4 a{
	color: #7E2BEC;
}

h4 a:hover{
	color:#611BBF;
}

ul a{
	color: #7E2BEC;
}

p.indent{
	text-indent: 20px;
}

h3{
	font-family: "Press Start 2P", cursive;
	font-size: 20px;
	color: #7E2BEC;
	padding-top: 30px;
}

h3 a{
	color: #7E2BEC;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;

}

h3 a:hover{
	color: #611BBF;
}